/*
* Brooklyn Template Colors
* Copyright 2013, UNITED THEMES
* www.unitedthemes.com
*/
::-moz-selection  {
	color: #FFFFFF;
	background: #9932CD;
}
::selection {
	color: #FFFFFF;
	background:#9932CD;
}
a {
	color: #9932CD;
}
.selected {
	color: #9932CD !important;
}
strong { color: #9932CD; }
blockquote, blockquote p { color: #9932CD; }
.icons-ul i { color:#9932CD; }
.ha-header nav a:hover {
	color: #9932CD;
}
.hero-title span {
	color:#9932CD;
}
.about-icon {
	background:#9932CD;
}
.info h3 {
	color:#9932CD;
}
.cta-section {
	background:#9932CD !important;
}
.contact-wrap h3 {
	color:#9932CD;
}
.social-title {
	color:#9932CD;
}
.count {
	color:#9932CD;
}
.client-section {
	background:#9932CD !important;
}
.footer i {
	color:#9932CD;
}
.copyright a:hover {
	color:#9932CD;
}
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	background:#9932CD;
}
.social-link:hover .social-icon,
.portfolio-caption {
	background:rgb(153, 50, 205);
	background:rgba(153, 50, 205, 1);
}
